<form #form="ngForm" (submit)="form.valid && changePassword()">
    <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Old Password</span>
            </div>

            <input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Old Password">
        </div> -->

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">New Password</span>
        </div>

        <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" #newPass="ngModel"
            placeholder="New Password" required>
        <alert class="w-100" type="danger"
            *ngIf="(newPass.invalid && (newPass.dirty || newPass.touched)) || form.submitted && newPass.errors">
            New Password is required.
        </alert>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Confirm Password</span>
        </div>

        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPass="ngModel"
            placeholder="Confirm password" required>
        <alert class="w-100" type="danger"
            *ngIf="(confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)) || form.submitted && confirmPass.errors">
            You must confirm your password to proceed.
        </alert>
    </div>

    <br>

    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-success">Confirm</button>
    </div>
</form>