<ngx-spinner bdColor="rgba(0,0,0,0.7)" size="large" color="#fff" type="ball-clip-rotate">
</ngx-spinner>

<nav class="navbar navbar-expand-lg navbar-dark bg-light shadow-sm mb-3">
  <a class="navbar-brand" routerLink="/">
    <img [src]="logoUrl" width="100">
  </a>
  <button class="navbar-toggler ml-auto" type="button" (click)="isCollapsed = !isCollapsed"
    aria-controls="navbarCollapse" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarCollapse">
    <ul class="ml-auto navbar-nav mr-lg-3 align-items-center">
      <div class="border rounded px-2 py-1 mr-3">
        <div id="connection-status" [ngClass]="status ? 'connected' : 'disconnected'"></div>
        <small class="ml-2 text-light">{{ status ? 'Connected to Musketeer Platform' : 'Disconnected'}}</small>
      </div>
      <li class="nav-item text-right" [ngClass]="{'active font-weight-bold': router.url == '/models'}">
        <a class="nav-link" routerLink="/models">Models</a>
      </li>
      <li class="nav-item text-right" [ngClass]="{'active font-weight-bold': router.url == '/datasets'}">
        <a class="nav-link" routerLink="/datasets">Datasets</a>
      </li>
    </ul>
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-light dropdown-toggle"
        aria-controls="dropdown-basic">
        <i class="fa fa-user mr-2"></i>
        {{ user.user }}
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
        aria-labelledby="button-basic">
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/settings/profile">
            <fa-icon [icon]="faUserCog" [fixedWidth]="true"></fa-icon>
            <span class="ml-2">Profile</span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/settings/edit-configurations">
            <i class="fa fa-fw fa-cogs"></i>
            <span class="ml-2">Edit Configurations</span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-fw fa-sign-out"></i>
            <span class="ml-2">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>