<form #form="ngForm" [ngClass]="{'was-validated': form.submitted }" (submit)="form.valid && submitCommsConfig($event)">
    <div class="form-group">
        <label for="gitUrl">Git Url</label>
        <input type="text" id="gitUrl" name="gitUrl" class="form-control" placeholder="git URL"
            [(ngModel)]="commsConfig.comms_git_url" required>
        <small id="gitUrlHelp" class="form-text text-muted">
            A <i>git pip install</i> compliant URL, e.g. <b>git+https://github.com/IBM/pycloudmessenger.git@master</b>
            (or, with credentials, <b>git+https://user:password@github.com/example.git@master</b>)
        </small>
    </div>

    <div class="custom-control custom-checkbox mb-2">
        <input type="checkbox" name="hasCommsCredentials" class="custom-control-input" [(ngModel)]="credentials"
            id="hasCommsCredentials">
        <label class="custom-control-label" for="hasCommsCredentials">Has credentials</label>
    </div>


    <div class="form-group" *ngIf="credentials">
        <label for="gitToken">Git token</label>
        <input type="text" id="gitToken" name="gitToken" class="form-control" placeholder="Git token"
            [(ngModel)]="commsConfig.comms_git_token" required>
        <small id="moduleHelpToken" class="form-text text-muted">
            Personal access tokens (PATs) are an alternative to using passwords for authentication to GitHub
            (<a target="_blank" href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token">Creating a personal access token</a>).
        </small>
    </div>

    <div class="form-group">
        <label for="module">Module</label>
        <input type="text" id="module" name="module" class="form-control" placeholder="Module main class"
            [(ngModel)]="commsConfig.comms_module" required>
        <small id="moduleHelp" class="form-text text-muted">
            The communications module main class, e.g. <b>example.module</b>.
        </small>
    </div>

    <app-file-upload [label]="'Communications Configuration File'" [inputId]="'commsConfigFile'"
        (fileContent)="commsConfig.comms_config = $event"></app-file-upload>

    <div class="row mt-4 mx-0 justify-content-end">
        <button class="btn btn-sm btn-success">Confirm</button>
    </div>
</form>