<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/tasks">
                <i class="fa fa-home"></i>
                <span class="ml-1">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">New Task</li>
    </ol>
</nav>

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-plus fa-lg mr-2"></i>
        <b>New Task</b>
    </div>

    <form #form="ngForm" class="needs-validation" (submit)="form.valid && create()"
        [ngClass]="{'was-validated': form.submitted}">
        <div class="card-body">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>

                <input type="text" id="name" name="task-name" [(ngModel)]="newTask.task_name" #name="ngModel"
                    class="form-control" placeholder="Task name" required>
            </div>

            <alert class="w-100" type="danger"
                *ngIf="(name.invalid && (name.dirty || name.touched)) || form.submitted && name.errors">
                Name is required.
            </alert>

            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" placeholder="Task description (optional)" id="taskDescription"
                    name="task-description" [(ngModel)]="newTask.definition.task_description" rows="3"></textarea>
            </div>

            <h6 class="text-muted mt-3">General Settings</h6>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Privacy</span>
                        </div>

                        <select class="form-control" name="task-privacy" [ngModel]="newTask.definition.POM"
                            (ngModelChange)="updatePrivacy($event)">
                            <option *ngFor="let level of privacyLevels; index as i" [value]="level.privacy">
                                {{ level.label }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Topology</span>
                        </div>

                        <select class="form-control" name="task-privacy" [ngModel]="newTask.topology">
                            <option>STAR</option>
                            <option>RING</option>
                        </select>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="privacyLevel">
                <alert type="task-info">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <b class="d-block">
                                <i class="fa fa-info-circle"></i>
                                {{ privacyLevel.label }} - {{ privacyLevel.name }}
                            </b>
                            <span style="font-size: 0.85rem">{{ privacyLevel.description }}</span>
                        </div>

                        <div class="col-md-6">
                            <table class="table table-borderless specs">
                                <tbody>
                                    <tr *ngFor="let spec of privacyLevel.specs | keys">
                                        <ng-container *ngIf="spec != 'server' && spec != 'client'">
                                            <th role="col">{{ spec }}</th>
                                            <td>
                                                <app-rating [value]="privacyLevel.specs[spec]" [max]="5"></app-rating>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </alert>
            </ng-container>

            <div class="form-row my-2 align-items-center">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Algorithm</span>
                        </div>

                        <select class="form-control" name="task-algorithm" [ngModel]="selectedAlg"
                            (ngModelChange)="updateAlgorithm($event)" #algorithmSelect="ngModel" required>
                            <option [value]="undefined" hidden selected disabled>Select one algorithm</option>
                            <optgroup label="Clustering">
                                <ng-container *ngFor="let algorithm of pomAlgorithms; index as i">
                                    <option *ngIf="algorithm.type == 'clustering'" [value]="algorithm.id">
                                        {{ algorithm.label }}
                                    </option>
                                </ng-container>
                            </optgroup>

                            <optgroup label="Classification">
                                <ng-container *ngFor="let algorithm of pomAlgorithms; index as i">
                                    <option *ngIf="algorithm.type == 'classification'" [value]="algorithm.id">
                                        {{ algorithm.label }}
                                    </option>
                                </ng-container>
                            </optgroup>

                            <optgroup label="Regression">
                                <ng-container *ngFor="let algorithm of pomAlgorithms; index as i">
                                    <option *ngIf="algorithm.type == 'regression'" [value]="algorithm.id">
                                        {{ algorithm.label }}
                                    </option>
                                </ng-container>
                            </optgroup>
                        </select>

                    </div>

                    <alert type="danger"
                        *ngIf="(algorithmSelect.invalid && (algorithmSelect.dirty || algorithmSelect.touched)) || form.submitted && algorithmSelect.errors">
                        Algorithm is required.
                    </alert>
                </div>

                <div class="col">
                    <i class="fa fa-question-circle fa-lg text-info" *ngIf="algModel"
                        [tooltip]="algModel ? algModel.description : null" placement="right"></i>
                </div>
            </div>

            <div class="form-row mb-3" *ngIf="algModel">
                <div class="col">
                    <div class="bg-light rounded border px-3 py-2">
                        <h6 class="text-muted">Algorithm properties</h6>
                        <app-properties-editor [properties]="algModel.properties"></app-properties-editor>
                    </div>
                </div>
            </div>

            <div class="form-row mt-2">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quorum</span>
                        </div>

                        <input type="number" name="task-quorum" class="form-control" min="1"
                            [(ngModel)]="newTask.definition.quorum" #quorum="ngModel" required>
                    </div>
                    <alert type="danger"
                        *ngIf="(quorum.invalid && (quorum.dirty || quorum.touched)) || form.submitted && quorum.errors">
                        Quorum is required.
                    </alert>
                    <small id="quorumHelp" class="form-text text-muted">Minimum number of participants required to start
                        a task.</small>
                </div>
            </div>

            <br>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" name="task-preprocessing" id="task-preprocessing" class="custom-control-input"
                    [(ngModel)]="showPreprocessing">
                <label class="custom-control-label" for="task-preprocessing">Preprocessing</label>
                <small id="preprocessing-help" class="mt-0 text-muted form-text">
                    Select one or more algorithms to prepare data before processing.
                </small>
            </div>

            <ng-container *ngIf="showPreprocessing">
                <div class="row mt-3" cdkDropListGroup>
                    <div class="col-6">
                        <div class="preprocessing-algos-list" cdkDropList [cdkDropListSortingDisabled]="true"
                            [cdkDropListData]="preprocessingAlgos">
                            <div class="algorithm-item" cdkDrag *ngFor="let algo of preprocessingAlgos">
                                <h6 class="mb-0">{{ algo.label }}</h6>
                                <small class="text-muted">{{ algo.description }}</small>

                                <div class="pipeline-item" *cdkDragPreview>{{ algo.label }}</div>
                                <div class="algorithm-item pipeline-item" *cdkDragPlaceholder>{{ algo.label }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="preprocessing-pipeline" cdkDropList
                            [cdkDropListData]="newTask.definition.preprocessing" (cdkDropListDropped)="drop($event)">
                            <div class="pipeline-item" cdkDrag
                                *ngFor="let algo of newTask.definition.preprocessing; index as i">
                                <div class="col p-0 overflow-hidden">
                                    <div class="pipeline-step">{{ i + 1 }}</div>
                                    <div class="d-inline algorithm-label">{{ algo.label }}</div>
                                </div>

                                <div>
                                    <button type="button" *ngIf="algo.properties" (click)="openAlgModal(algo)"
                                        class="icon-button ml-auto">
                                        <i class="fa fa-cog"></i>
                                    </button>

                                    <button type="button" (click)="newTask.definition.preprocessing.splice(i, 1)"
                                        class="icon-button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="pipeline-item empty">Drop algorithm here.</div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <br>

            <h6 class="text-muted">Data Description</h6>

            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <app-file-upload label="Input Data description File" inputId="inputDataDescriptionFile"
                        [required]="false" (fileContent)="newTask.definition.input_data_description = $event">
                    </app-file-upload>
                </div>

                <div class="col-md-6 mb-2">
                    <app-file-upload label="Target Data description File" inputId="targetDataDescriptionFile"
                        [required]="false" (fileContent)="newTask.definition.target_data_description = $event"
                        *ngIf="isSupervised">
                    </app-file-upload>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Features</span>
                        </div>

                        <input type="number" name="task-data-features" placeholder="Input data fatures"
                            class="form-control" [(ngModel)]="newTask.definition.data_description.features"
                            #features="ngModel" required>
                    </div>
                    <alert type="danger"
                        *ngIf="(features.invalid && (features.dirty || features.touched)) || form.submitted && features.errors">
                        Features field is required.
                    </alert>
                    <small id="featuresHelp" class="form-text text-muted">Number of features.</small>
                </div>

                <div class="col-md-6 mb-2" *ngIf="isSupervised">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Labels</span>
                        </div>

                        <input type="number" placeholder="Input data labels" name="task-data-labels"
                            class="form-control" [(ngModel)]="newTask.definition.data_description.labels"
                            #labels="ngModel" required>
                    </div>
                    <alert type="danger"
                        *ngIf="(labels.invalid && (labels.dirty || labels.touched)) || form.submitted && labels.errors">
                        Labels field is required.
                    </alert>
                    <small id="labelsHelp" class="form-text text-muted">Number of labels.</small>
                </div>
            </div>

            <div class="custom-control custom-checkbox mt-2">
                <input type="checkbox" name="task-data-has-header" class="custom-control-input"
                    [(ngModel)]="newTask.definition.disconnect_bad_workers" id="disconnect-bad-workers">
                <label class="custom-control-label" for="disconnect-bad-workers">Kick out malicious workers</label>
                <small id="disconnect-bad-workers-help" class="mt-0 form-text text-muted">Workers whose data don't
                    respect data description files will be disconnected. If false, task will be terminated.</small>
            </div>
        </div>

        <div class="card-footer">
            <div class="row mx-0 justify-content-end">
                <button class="btn btn-light border mr-2" type="button" routerLink="/tasks">Cancel</button>
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>

<div bsModal #propertiesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pull-left" *ngIf="algorithm">{{ algorithm.label }} Properties</h5>
                <button type="button" class="close pull-right" aria-label="Close" (click)="propertiesModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="algorithm">
                <app-properties-editor [properties]="algorithm.properties" propInputId="preprocessing-prop"
                    propHelpId="preprocessing-help" [fullWidth]="true"></app-properties-editor>
            </div>
        </div>
    </div>
</div>