$musketeer-indigo: #28235d;
$musketeer-light-red: #ea5858;
$musketeer-dark-red: #6e466e;

$info-blue: #0b5885;
$info-light-blue: #36a3e2;
$info-almost-white-blue: #bee7ff;
$info-white-blue: #d0eeff;

$light-grey: #e5e5ec;
$lighter-grey: #d7d7df;

$nebular-warning: #ffaa00;
$nebular-warning-lighter: #ffbb33;

$nebular-success: #00d68f;
$nebular-danger: #ff3d71;